.container {
	margin: 15px auto;
}
.odd {
	background-color: lightgray;
}
.red-text {
	color: red;
}
.green-text {
	color: green;
}
table {
	border:	1px solid lightgray;
}
table thead th,
table tbody tr {
	text-align: center;
}
.pointer {
	cursor: pointer;
}
nav#main-nav {
	  background-color: #337ab7;
}
nav#main-nav .navbar-text {
	color: white;
}
nav#main-nav li a {
	color: white;
}
nav#main-nav .active a {
	background-color: #FFCF3A;
	font-style: italic;
	font-weight: bold;
	box-shadow: 0px 2px 3px 0px gray;
	color: black;
}
.donation-form {
	position: relative;
}
.thank-you-img {
	position: absolute;
	left: 50%;
	margin-left: -98.5px;
	z-index: 100;
	-ms-transform: rotate(-25deg); /* IE 9 */
	-webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */  
	transform: rotate(-25deg);	
}

/* you can use natural CSS transitions just
   as you would without using ngAnimate */
.thank-you-img {
  -ms-transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:1;
}

.thank-you-img.ng-hide {
  opacity:0;
}
#calm-lemonade {
	width: 100%;
}