.container {
	margin: 15px auto;
}
.odd {
	background-color: lightgray;
}
.red-text {
	color: red;
}
.green-text {
	color: green;
}
table {
	border:	1px solid lightgray;
}
table thead th,
table tbody tr {
	text-align: center;
}
.pointer {
	cursor: pointer;
}
nav#main-nav {
	  background-color: #337ab7;
}
nav#main-nav .navbar-text {
	color: white;
}
nav#main-nav li a {
	color: white;
}
nav#main-nav .active a {
	background-color: #FFCF3A;
	font-style: italic;
	font-weight: bold;
	color: black;
}
