<div class="jumbotron text-center"><!-- <h1>Donate to the Lemonade Stand!</h1> --><img id="donation-img" src="app/images/donation-header.png" class="img-responsive"></div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Donation Form</div>
			<div class="panel-body">
				<!-- Include the form -->
				<ng-include src="'app/partials/donationForm.html'"></ng-include>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">Donation List</div>
			<div class="panel-body">
				<p ng-repeat="donor in donations track by $index">
					<span class="glyphicon glyphicon-ok-sign green-text pull-right" aria-hidden="true"></span>
					{{ donor.name }} ({{ donor.amount | currency }})
				</p>
			</div>
		</div>
	</div>
</div>