<div class="row">
	<div class="col-md-12">
			<h4>How many records would you like to see?</h4>
			<input type="number" ng-model="numOfRecords" />

			<h4>{{ statsMsg }}</h4>	

<!-- 		<div class="panel panel-primary">
			<div class="panel-heading">
				Sales
			</div>
			<div class="panel-body">
				<h4>How many records would you like to see?</h4>
				<input type="number" ng-model="numOfRecords" />
				<br /><br />				
				<table class="table">
					<thead>
						<tr class="odd">
							<th></th>
							<th class="pointer" ng-click="orderByField='date'; reverseSort = !reverseSort">Date <span ng-class="{ 'dropup': !reverseSort }"><span class="caret"></span></span></th>
							<th class="pointer" ng-click="orderByField='quantity'; reverseSort = !reverseSort">Quantity <span ng-class="{ 'dropup': !reverseSort }"><span class="caret"></span></span></th>
							<th class="pointer" ng-click="orderByField='netSale'; reverseSort = !reverseSort">Net Sale <span ng-class="{ 'dropup': !reverseSort }"><span class="caret"></span></span></th>
							<th class="pointer" ng-click="orderByField='costOfGoods'; reverseSort = !reverseSort">Cost of Goods <span ng-class="{ 'dropup': !reverseSort }"><span class="caret"></span></span></th>					
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="record in sales | orderBy:orderByField:reverseSort | limitTo:numOfRecords" ng-class="{ odd: $odd }">
							<td>{{ $index + 1 }}</td>
							<td>{{ record.date | date:'MMM dd, yyyy' | uppercase }}</td>
							<td>{{ record.quantity }}</td>
							<td>{{ record.netSale | currency }}</td>
							<td>{{ record.costOfGoods | currency }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div> -->
		<div ng-repeat="record in sales | orderBy:orderByField:reverseSort | limitTo:numOfRecords" class="col-md-4 pointer" sales-panel-click fire-click="displayStats(record)" record-data="record">
			<div class="panel" ng-class="(record.grossProfit <= 200) ? 'panel-danger' : 'panel-success'">
				<div class="panel-heading text-center">{{ record.date | date:'MMM dd, yyyy' | uppercase }}</div>
				<div class="panel-body">
					<p>Quantity: {{ record.quantity }}</p>
					<p>Net Profit: {{ record.netSale | currency }}</p>
					<p>Cost of Goods: {{ record.costOfGoods | currency }}</p>
				</div>
				<div class="text-center custom-panel-footer"><span>Gross Profit: {{ record.grossProfit | currency }}</span></div>
			</div>
		</div>
	</div>
</div>