<p><button class="btn btn-danger" ng-click="resetProducts()">Clear Transactions</button></p>

<div class="row">
	<div ng-repeat="product in products.items" class="col-md-3 pointer" ng-click="addProduct($index)">
		<div class="panel panel-primary">
			<div class="panel-heading">{{ product.content }}</div>
			<div class="panel-body">				
				<p>Count: {{ product.quantity }}</p>
				<p>Total: {{ (product.quantity * product.price) | currency }}</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">Items</div>
			<div class="panel-body">
				&nbsp;
				<ul ng-show="selectedProducts.length > 0">
					<li ng-repeat="item in selectedProducts track by $index">{{ item }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">Total Cost</div>
			<div class="panel-body">
				{{ products.totals.cost || 0 | currency }}
			</div>
		</div>
	</div>	
</div>