<p><button class="btn btn-danger" ng-click="">Clear Transactions</button></p>

<div class="row">
	<div ng-repeat="product in products" class="col-md-3 pointer" ng-click="addProduct($index)">
		<div class="panel panel-primary">
			<div class="panel-heading">{{ product.content }}</div>
			<div class="panel-body">				
				<p>Count: {{ product.quantity }}</p>
				<p>Total: {{ product.total | currency }}</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">Items</div>
			<div class="panel-body">
				<ul ng-show="selectedProducts.length > 0">
					<li ng-repeat="item in selectedProducts track by $index">{{ item }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">Total Cost</div>
			<div class="panel-body">
				{{ totals.totalCost | currency }}
			</div>
		</div>
	</div>	
</div>